nz-list-item {
  padding: 4px 0 !important;
  align-items: flex-start;
}

nz-collapse {
	background-color: transparent !important;
	width: 100%;
	::ng-deep {
		.ant-collapse-header {
			padding: 0 !important;
		}
		.ant-collapse-arrow {
			margin-right: 4px !important;
		}
		.ant-collapse-content-box, .ant-table-thead tr th,  .ant-table-tbody tr td {
			color: rgba(0, 0, 0, 0.65);
			font-size: 11px;
		}
		.ant-table-tbody tr:last-child td {
			border-bottom-color: transparent;
		}
	}
}
